@model List<BCR.PracticaMinions4.ETL.Destino>
@{
    ViewBag.Title = "AgregarVuelos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Vuelos</h2>

<table style="width: 35%">
    @using (Html.BeginForm("InsertarVuelos", "Vuelos", FormMethod.Post))
    {
        <tr>
            <td align="left">
                Capacidad:
            </td>
            <td style="width: 50%">
                <input type="text" name="txtCapacidad" class="form-control" />
            </td>
        </tr>
        <tr>
            <td align="left">
                Fecha:
            </td>
            <td style="width: 50%">
                <input type="datetime-local" name="txtFecha" class="form-control">
            </td>
        </tr>
        <tr>
            <td align="left">
                Destinos:
            </td>
            <td style="width: 50%">
                <select name="optDestinos" class="form-control">
                    @{
                        foreach (var destino in Model)
                        {
                            <option value="@destino.codigoDestino">@destino.destinos</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td align="left" style="width: 40%">
                <button type="submit" class="btn btn-success">Insertar Vuelo</button>
            </td>
        </tr>
    }
</table>


