
@{
    ViewBag.Title = "Práctica minions 4";
}

<h2>@ViewBag.Title</h2>
<br />
<table>
    <tr>
        <td>
            <button type="button" class="btn btn-info btn-lg"  onclick="location.href='/Vuelos/InicioVuelos'">Módulo Vuelos</button>
        </td>
        <td>
            <button type="button" class="btn btn-info btn-lg" onclick="location.href='/Evaluaciones/Index'">Módulo Evaluaciones</button>
        </td>
    </tr>
</table>