
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inicio de Evaluaciones</h2>

<br />
@* Tabla de botones *@
<table>
    <tr>
        <td>
            <button type="button" class="btn btn-info btn-lg" onclick="location.href='/Evaluaciones/Evaluaciones'">Evaluaciones</button>
        </td>
        <td>
            <button type="button" class="btn btn-info btn-lg" onclick="location.href='/Evaluaciones/Calificaciones'">Calificaciones</button>
        </td>
    </tr>
</table>

